ARICHEvents.root
ARICHImportGeometryToDB.py
CAd15-17wjt.DX
CAu8-5wjt.DX
DQMhistograms.root
aerogelInfo.out.root
arich.04.10.2017/
ca-u1_transT_data.zip
ca-u1_transT_data/
centraldb/
diffStr.bash
geant4Cherenkov_quartz/
hapd_relative_QE.eps
hapd_relative_QE.pdf
infoThickness.eps
infoThicknessTest.eps
latex_formula
makeHistFromFile
n.eps
n_A.eps
n_A.pdf
n_A_Lam.dat
n_B.eps
n_B.pdf
n_B_Lam.dat
n_vs_lambda.eps
n_vs_lambda.pdf
opticalTransmitanceLengthOfaerogel.eps
opticalTransmitanceLengthOfaerogel.pdf
opticalTransmitanceOfaerogel.eps
opticalTransmitanceOfaerogel.pdf
qe_vs_lam.dat
readAerogelInfoMap
relative_QE.pdf
root-util/
sss.C
sss.h
transmittanceLength.eps
transmittanceLength_vs_n.eps
*~
